<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="estilo.css">
        <title>NLW eSports</title>
    
    </head>
<body>

    
   <header>
        <div>
            <img src="https://github.com/gabidsbarbosa.png" alt="Foto de Perfil">
        </div>
   </header> 
   
   
   <main>
           
        <section>
            <div>
                <h2>Meus jogos</h2>
                <p>Meus games favoritos!</p>
                
                <ul class="games-list">
                    <li>
                        <a 
                        target="_blank"
                        href="https://www.twitch.tv/directory/game/VALORANT">

                        
                        <img src="https://static-cdn.jtvnw.net/ttv-boxart/516575-285x380.jpg" alt="imagem do jogo Valorant">
                        </a>
                    </li>

                    <li>
                        <a 
                        target="_blank"
                        href="https://www.twitch.tv/directory/game/Dead%20by%20Daylight">

                        
                        <img src="https://static-cdn.jtvnw.net/ttv-boxart/491487-285x380.jpg" alt="imagem do jogo Dead by Daylight">
                        </a>
                    </li>

                    <li>
                        <a 
                        target="_blank"
                        href="https://www.twitch.tv/directory/game/Rocket%20League">

                        
                        <img src="https://static-cdn.jtvnw.net/ttv-boxart/30921-285x380.jpg" alt="imagem do jogo Rocket League">
                        </a>
                    </li>
                    
                </ul>
            </div>
        </section>

        <section>
            <div>
                <h2>Canais e streamers</h2>
                <p>Meus streamers e canais favoritos!</p>
                
                <ul class="channel-list">
                    <li>
                        <a 
                        target="_blank"
                        href="https://www.twitch.tv/alanzoka">

                        
                        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/15cec952-c1ba-4ff8-a79c-53c2fa5bd269-profile_image-150x150.png" alt="Imagem do canal da Twitch do Alanzoka">
                        </a>
                    </li>

                    <li>
                        <a 
                        target="_blank"
                        href="https://www.twitch.tv/paulanobre">

                        
                        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/4c7852e2-1c05-42aa-8d35-ae79dc6ac3dc-profile_image-150x150.png" alt="Imagem do canal da Twitch da Paula Nobre">
                        </a>
                    </li>

                    <li>
                        <a 
                        target="_blank"
                        href="https://www.twitch.tv/calango">

                        
                        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/1c856333-b570-4f75-a6f0-c2965ef82598-profile_image-150x150.png" alt="Imagem do canal da Twitch do Calango">
                        </a>
                    </li>

                    <li>
                        <a 
                        target="_blank"
                        href="https://www.twitch.tv/mateusjbarbosa">

                        
                        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/6da2e347-7459-4dbc-bde5-0161179311a8-profile_image-150x150.png" alt="Imagem do canal da Twitch do Mateus Barbosa">
                        </a>
                    </li>
                    
                </ul>
            </div>
        </section>

        <section>
            <div>
                <h2>Minhas redes</h2>
                <p>Se conecte comigo agora mesmo!</p>
                
                <ul class="net-list">
                    
                    <li>
                        <a 
                        target="_blank"
                        href="https://www.instagram.com/gabidsbarbosa/">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21Z" stroke="#FA41FE" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M21.5 4.5H10.5C7.18629 4.5 4.5 7.18629 4.5 10.5V21.5C4.5 24.8137 7.18629 27.5 10.5 27.5H21.5C24.8137 27.5 27.5 24.8137 27.5 21.5V10.5C27.5 7.18629 24.8137 4.5 21.5 4.5Z" stroke="#FA41FE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.5 11C23.3284 11 24 10.3284 24 9.5C24 8.67157 23.3284 8 22.5 8C21.6716 8 21 8.67157 21 9.5C21 10.3284 21.6716 11 22.5 11Z" fill="#FA41FE"/>
                        </svg>
                            
                        </a>
                    </li>

                    <li>
                        <a 
                        target="_blank"
                        href="https://twitter.com/gabidsbarbosa">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 11C16 8.25003 18.3125 5.96253 21.0625 6.00003C22.0256 6.01115 22.9649 6.30018 23.7676 6.83237C24.5704 7.36457 25.2023 8.11728 25.5875 9.00003H30L25.9625 13.0375C25.7019 17.0932 23.9066 20.8975 20.9415 23.6769C17.9764 26.4562 14.0641 28.002 10 28C6 28 5 26.5 5 26.5C5 26.5 9 25 11 22C11 22 3 18 5 7.00003C5 7.00003 10 12 16 13V11Z" 
                            stroke="#2871FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </section>

   </main>
    
</body>
</html>